extends layout

block title-block
  h1= title

block container-1
  ul
    li: a(href='#cp')
      span Control Panel

  div#cp
    div.fragment-content
      div
        a(href=`https://${httphost}:12320`)
          img(src="/images/shell.png")
          span Web Shell

      div
        a(href= `https://${httphost}:12321`)
          img(src="/images/webmin.png")
          span Webmin
      div
        a(href= `https://${httphost}/mongo`)
          img(src="/images/mongo-express.png")
          span Mongo GUI

      div

      div

      div

      h2 Resources
      ul
        li: a(href="https://www.turnkeylinux.org/mongodb") TurnKey MongoDB release notes

        li: a(href="https://docs.mongodb.com/")  MongoDB Manual & Documentation

